.hero {
  text-align: center;
  .pink {
    color: #EB5160;
  }
  h1 {
    font-size: 50px;
    top: 120px;
    color: #FFFBFC;
  }
  h2 {
    font-size: 35px;
  }
  a {
    border: 1px solid #FFFBFC;
    border-radius: 5px;
    padding: 2px 10px;
    &:hover {
      color: #EB5160;
      border: 1px solid #EB5160;
      opacity: 1;
    }
  }
  .home-photo {
    background: url(Jennifer.jpg) 50% 20% no-repeat;
    width: 300px;
    height: 300px;
    align-self: center;
    border-radius: 50%;
    border: 1px solid #03B5AA;
    box-shadow: 5px 5px 9px -5px rgba(0,0,0,0.75);
  }
}
