<div class="navbar">
  <div>
    <%= image_tag 'pc_logo.png', class: 'logo' %>
  </div>
  <div class="nav-links">
    <%= link_to 'ABOUT', about_path %>
    <%= link_to 'PROJECTS', projects_path %>
    <%= link_to 'CONTACT', contact_path %>
  </div>
</div>
