.hero {
  text-align: left;
  margin: 20px;
  h1 {
    font-size: 50px;
    top: 120px;
  }
  h2 {
    font-size: 35px;
  }
  a {
    border: 1px solid #FFFBFC;
    border-radius: 5px;
    padding: 2px 10px;
  }
}
