// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #223649;
  color: #FFFBFC;
  font-family: Raleway;
  margin-top: 80px;
}
a {
  text-decoration: none;
  color: #FFFBFC;
  &:hover {
    opacity: 0.5;
  }
}
